    <div class="py-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-primary">Emil Figge Straße 42, 44227 - Dortmund</p>
                    <p class="text-primary"><i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:+49 0123 456 789"> +</a>49 0123 456 789</p>
                    <p class="mb-0"><a href="vision2go@gmail.com">vision2go@gmail.com</a> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-center my-3">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-info" style="">
                    <p class="mb-0" style="">©2019 Vision2GO. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/models/createPlaces.js" type="text/javascript"></script>
    <script src="/controllers/scrollToTop.js" type="text/javascript" ></script>
</body>
</html>
