    <div class="py-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-primary">Emil Figge Straße 42, 44227 - Dortmund</p>
                    <p class="text-primary"> <a href="tel:+49 0123 456 789">+</a>49 0123 456 789</p>
                    <p class="mb-0"> <a href="vision2go@gmail.com">vision2go@gmail.com</a> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
                        <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
                    </a> <a href="#">
                        <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
                    </a> <a href="#">
                        <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
                    </a> <a href="#">
                        <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
                    </a> </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center text-info" style="">
                    <p class="mb-0" style="">©2019 Vision2GO. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!--Important: "Jquery" must be always the first import-->
    <script src="/controllers/scrollToTop.js" type="text/javascript" ></script>
    <script src="/models/createTour.js" type="text/javascript" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKQaeuRspTV7_dKWC-xpCKZiUYn8qoM8&callback=initMap"
        async defer></script>
    <script src="/controllers/initMap.js" type="text/javascript" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
</body>

</html>
