<div id="map" class="col-md-12"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKQaeuRspTV7_dKWC-xpCKZiUYn8qoM8&callback=initMap" async defer></script>
<script>
    function initMap() {
        const myDefaultLatLng = {lat: 51.517564, lng: 7.459443};

        let map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: myDefaultLatLng
        });

        google.maps.event.addListener(map, 'click', (e) => {
            let lat = e.latLng.lat();
            let lng = e.latLng.lng();
            // alert("Lat= " + lat + "  Lng= " + lng);
            $('#lat').val(lat);
            $('#lng').val(lng);
        });

        let marker = new google.maps.Marker({
            position: myDefaultLatLng,
            map: map,
            title: 'Welcome to Dortmund!'
        });
    }
</script>
