<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="py-3" style="	background-image: url(&quot;https://static.pingendo.com/cover-bubble-dark.svg&quot;);	background-position: right bottom;	background-size: cover;	background-repeat: repeat;	background-attachment: fixed;">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center col-md-12" >
        <h3 class="display-4 text-light" style="text-shadow: 0 0 14px #bb0000;">We are Vision2GO<br></h3>
      </div>
    </div>
    <div class="row pi-draggable" draggable="true">
      <div class="col-md-6">
        <div class="col-lg-3 col-12 p-3">
          <div class="card"> <img class="card-img" src="https://static.pingendo.com/img-placeholder-1.svg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title"> <b>Marcel Büttinghaus</b></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-lg-3 col-12 p-3">
          <div class="card"> <img class="card-img" src="https://static.pingendo.com/img-placeholder-1.svg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title"> <b>Viet Duc Vu</b></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-lg-3 col-12 p-3">
          <div class="card"> <img class="card-img" src="https://static.pingendo.com/img-placeholder-1.svg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title"> <b>Gül Tigli</b></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-lg-3 col-12 p-3">
          <div class="card"> <img class="card-img" src="https://static.pingendo.com/img-placeholder-1.svg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title"> <b>Hassan Alsheikh</b></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
