<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center col-lg-6">
          <h1 class="mb-2">Create a new tour</h1>
          <p class="lead mb-4">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence.</p>
        </div>
      </div>
      <div class="row">
          <div class="p-2 order-2 order-md-1 col-lg-12">
              <h2 class="mb-3">Info</h2>
              <form action="/createnewtour" method="post" novalidate>
                  <div class="form-group"><input type="text" class="form-control" id="tourName" name="tourName" placeholder="Tour's name" required> </div>
                  <div class="form-group"><input type="text" class="form-control" id="tourImage" name="tourImage" placeholder="Image"> </div>
                  <div class="input-group mb-3">
                      <input type="text" id="places" class="form-control" name="places" placeholder="Places" aria-label="Places" aria-describedby="button-addon2" required>
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-toggle="modal" data-target="#addPlaceModal">+</button>
                      </div>
                  </div>
                  <div class="modal fade" id="addPlaceModal">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header" style="" >
                                  <h5 class="modal-title">Add a place</h5> <button type="button" class="close" data-dismiss="modal"> <span>×</span> </button>
                              </div>
                              <div class="modal-body">
                                  <div class="form-group"><input type="text" class="form-control" id="placeName"
                                                                 placeholder="Name of place" required></div>
                                  <%- include('partials/map') %>
                                  <div class="form-group"><input type="number" class="form-control" id="lat" placeholder="Lat" required> </div>
                                  <div class="form-group"><input type="number" class="form-control" id="lng" placeholder="Lng" required> </div>
                                  <div class="form-group"><input type="text" class="form-control" id="placeType"
                                                                 placeholder="Type" required></div>
                              </div>
                              <div class="modal-footer"> <button type="button" id="savePlace" class="btn btn-primary" data-dismiss="modal">Save place</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> </div>
                              <script>
                                  // create an array of added places
                                  const addedPlaces = [];

                                  // handle click "save Place" button
                                  $('#savePlace').click(() => {
                                      if (areFilledFields()) {
                                          let placesNameList = "";
                                          let newPlace = {
                                              name: $("#placeName").val(),
                                              lat: $("#lat").val(),
                                              lng: $("#lng").val(),
                                              type: $("#placeType").val()
                                          };

                                          /* let newPlace = placeModel({
                                               name: $("#placeName").val(), lat: $("#lat").val(), lng: $("#lng").val(),
                                               type: $("#placeType").val(), image: "imageURL"});*/
                                          alert("Successfully added: " + newPlace.name);

                                          addedPlaces.push(newPlace);
                                          addedPlaces.forEach((place) => {
                                              if (placesNameList === "") {
                                                  placesNameList = place.name;
                                              } else {
                                                  placesNameList += ", " + place.name;
                                              }
                                          });
                                          // add names of places to form in page "Creat a new tour"
                                          $("#places").val(placesNameList);
                                          modalReset();
                                      } else {
                                          alert("All fields must be filled in !");
                                      }
                                  });

                                  // check if all fields are filled
                                  function areFilledFields() {
                                      return ($("#placeName").val() && $("#lat").val() &&
                                          $("#lng").val() && $("#placeType").val());
                                  }

                                  // clear forms of Modal Pop-up
                                  function modalReset() {
                                      $("#placeName").val('');
                                      $("#lat").val('');
                                      $("#lng").val('');
                                      $("#placeType").val('');
                                  }

                                  exports = addedPlaces;
                              </script>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" id="myReview" name="review" rows="3" placeholder="My review ..."></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Create Tour</button>
              </form>
          </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>
