<%- include('partials/header') %>
<%- include('partials/dortmundInfos') %>

<!--LOG IN-->
<div id="loginPart" class="py-4 text-center bg-warning" style="">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-6 col-10 bg-white p-5">
        <h1 class="mb-4">Log in</h1>
        <form action="/loginPart" method="post" >
          <div class="form-group"> <input type="email" name="loginEmail" class="form-control" placeholder="Enter Email" id="form9" required> </div>
          <div class="form-group mb-3"> <input type="password" name="loginPassword" class="form-control" placeholder="Password" id="form10" required> <small class="form-text text-muted text-right">
              <a href="#"> Forgot password?</a>
            </small> </div>
        <button type="submit" class="btn btn-primary">Sign in</button></form>
      </div>
    </div>
  </div>
</div>

<!--REGISTER-->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-white text-center rounded-left rounded-right rounded-top rounded-bottom border-left border-right border-top border-bottom border-light">OR&nbsp;</h5>
      </div>
    </div>
  </div>
</div>
<div id="registerPart" class="py-3 text-center bg-primary" style="	background-image: url(https://pingendo.com/site-assets/cover.jpg);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-lg-6 col-10">
        <h1>Sign Up</h1>
        <form class="text-left" action="/registerPart" method="post">
          <div class="form-group"> <label for="form16">Email</label> <input type="email" name="signinEmail" class="form-control" id="form16" placeholder="vision2go" required> </div>
          <div class="form-row">
            <div class="form-group col-md-6"> <label for="form19">Password</label> <input type="password" name="signinPassword" class="form-control" id="form19" placeholder="••••" required> </div>
            <!--<div class="form-group col-md-6"> <label for="form20">Confirm Password</label> <input type="password" class="form-control" id="form20" placeholder="••••"> </div>-->
          </div>
          <!--<div class="form-group">
            <div class="form-check"> <input class="form-check-input" type="checkbox" id="form21" value="on"> <label class="form-check-label" for="form21"> I Agree with <a href="#" class="text-danger">Term and Conditions</a> of the service </label> </div>
          </div> -->
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/map') %>
<%- include('partials/footer') %>
