<%- include('partials/header') %>
  <div class="py-2 text-center text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="mb-3">Tour X</h1>
          <iframe width="100%" height="400" src="https://maps.google.com/maps?q=New%20York&amp;z=14&amp;output=embed" scrolling="no" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-light">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-md-8">
          <ul>
            <h3>Infos</h3>
            <li class="mb-2"> <b>Traffic</b>&nbsp;-</li>
            <li class="mb-2"> <b>Weather</b> -</li>
            <li class="mb-2"> <b>Hotels</b>&nbsp;-&nbsp;<br></li>
            <li class="mb-2"> <b>Restaurants</b> -</li>
            <li class="mb-2"> <b>Others</b> -</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 border-warning bg-light">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
          <h1>1st place</h1>
          <p class="mb-3 lead">I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies</p>
        </div>
        <div class="col-lg-6"> <img class="img-fluid d-block" src="./img/germany-dortmund-alter-markt-altes-stadthaus.jpg"> </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-info" style="">
    <div class="container">
      <div class="row">
        <div class="px-lg-5 d-flex flex-column justify-content-center col-lg-6">
          <h1>n-th place</h1>
          <p class="mb-3 lead">I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies</p>
        </div>
        <div class="col-lg-6"> <img class="img-fluid d-block" src="./img/dortmunder-u_pascal-amos-rest_web_content_mobile.jpg"> </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>
